site_name: "Portfolio"
theme:
  name: material
  language: es
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.indexes
    - navigation.top
    - navigation.expand
    - content.code.annotate
    - content.tabs.link
  palette:
    - scheme: default
      primary: indigo
      accent: teal
      toggle:
        icon: material/weather-night
        name: Cambiar a modo oscuro
    - scheme: slate
      primary: teal
      accent: amber
      toggle:
        icon: material/weather-sunny
        name: Cambiar a modo claro

plugins:
  - search
  - awesome-pages
  - git-revision-date-localized:
      fallback_to_build_date: true
  - glightbox
  - mkdocs-jupyter:
      execute: false
      include_source: true
      include: ["*.ipynb"]  

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - footnotes
  - tables
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.emoji
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tasklist:
      custom_checkbox: true

nav:
  - Inicio: index.md
  - Acerca de mí: acerca.md
  - Recursos: recursos.md
  - Portafolio:
      - Ingeniería de Datos:
          - "UT1: EDA & Fuentes":
              - Proyecto 1 – Exploración del dataset Iris: portfolio/ingenieria_datos/UT1/01-exploracion-iris.md
              - Proyecto 2 – EDA de Netflix con pandas: portfolio/ingenieria_datos/UT1/03-eda-netflix.md
              - Proyecto 3 – EDA Multi-fuentes y Joins: portfolio/ingenieria_datos/UT1/04-eda-multifuentesyjoins.md
          - "UT2: Calidad & Ética":
              - Proyecto 4 – Missing Data Detective: portfolio/ingenieria_datos/UT2/05-missing-data-detective.md
              - Proyecto 5 - Feature Scaling & Pipelines: portfolio/ingenieria_datos/UT2/06-feature-scaling&pipelines.md
          - "UT3: Feature Engineering":
              - Proyecto 7 - Feature Engineering: portfolio/ingenieria_datos/UT3/08-feature-engineering.md